.home{
    background-color: rgb(85, 85, 85);
    background-image: url("/public/img/home_background.jpg");
    padding: 0 5%;
    align-content: center;
}

.home .centerpiece{
    margin: 0 auto;
    height: 300px;
    width: 700px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home .centerWords{
    color: blanchedalmond;
    margin-bottom: 15px;
}
.home .catLink{
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 0 auto;
}