.product{
    border: 1px solid #333;
    border-radius: 4px;
    margin: 12px;
    padding: 10px;
    background-color: lightgray;
    display: inline-block;
    width: 250px;
    vertical-align: top;
    align-content: end;
    border-radius: 20px;
}
.product img{
    max-width: 200px;
    height: 200px;
    margin: 10px;
}
.productPriceArea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.product .productTotal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.product .productTotal label{
    margin: 5px 0;
}
.product .btnFlex{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}