.specials{
    border: 1px solid black;
    border-radius: 20px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 10px 20px;
    color: rgb(160, 253, 156);
}
.specials h3{
    margin-bottom: 20px;
}